.header
{
	text-align: center;
	margin-bottom: 50px;
	margin-top: 40px;
	font-size: 65px;
	font-style: normal;;
}
.text
{
	background-color: #bfbfbf;
	font-size: 26px;
	margin-left: 20px;
	margin-right: 20px;
	font-style: italic;

}
p
{
	margin-top: 40px;
}

.top
{
	text-align: center;
	padding-right: 60px;
	margin-top: 50px;
	margin-left: 50px;

}
.button
{
	cursor: pointer;
	border-radius: 12px;
	background-color: black;
	color: white;
	padding: 10px 24px;
	font-size: 22px;
	border: 2px solid #555555;
	opacity: 0.6;
  	transition: 0.3s;
}
.button:hover {opacity: 1}
.footer
{
	text-align: center;
	margin-top: 120px;
	margin-left: 15px;
	margin-bottom: 50px;
}
.image
{
	margin-right: 30px;
	border-radius: 10px;
	opacity: 0.7;
    filter: alpha(opacity=0)
}
.image:hover {
    box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.5);
}
.links
{
	font-weight: bold;
	color: black;
	text-decoration: none;
}