<head>
<h1 class="header"> ABOUT </h1>
<link rel="stylesheet" type="text/css" href="../static/about.css" />
</head>

<section>
<p> 

I am a second year under graduate student of the department of Humanities and Social Sciences enrolled in its Economics integrated course(M.Sc.). I am a a freshman in the field of open source and I love to code. I am from Deoghar, Jharkhand and I currently reside in Kharagpur. I am an ex-student of St. Francis Scool, Deoghar.

</p>

<p>

I am a core team member of KOSS (Kharagpur Open Source Sciety) where we spread the open source culture in the campus as well outside. It is not a society basically. It's a group of similar minded open source enthusuiasts where we sit and discuss random stuffs and how it can be made into use. We organise various workshops on Git, Python, C++ and many other languages throughout the year. The main glory of KOSS over the last few years is Kharagpur Winter of Code (KWoC) which is a demo of the very famous Google Summer of Code. It is held in December and really gears us up for the upcoming challenges.
 
</p>

<p>

I am also an actor at Technology English Dramatics Society, ENCORE. In the first I had an excellent exposure in street play as well as stage play. It really helps me grow mentally as well as physically. I always grew up seeing people act and here in Kgp i got the opportunity to that myself.

</p>

I am more of an outdoor person who loves to play basketball, badminton and vollleyball. I love to interact with new people and get to know them. I love to go on long walks at nights; the tress, the winds, they really sooth me. I can motivate people really well, so if you ever feel any ,load feel free to text me. We can sit for a cup of coffee and talk things.

</section>
