<head>
<h1 class="header"> CONTACT </h1>
<link rel="stylesheet" type="text/css" href="../static/cont.css" />
</head>

<body>


<p class="text">The best way to way to contact me is via e-mail. You can mail me at nik[dot]ch[dot]23[at]gmail.com (nik.ch.23@gmail.com).</p>
<p class="text">You can also ping me on facebook in case you need some help some personally. Feel free to text, will be really ready for any help.</p>


<p id="find" class="text" >Here are a few places you can find me:</p>

<div class="list">
<ul> 
<li> <a href="https://www.facebook.com/profile.php?id=100011350512026"> <button class="button"> Facebook </button> </a> </li>
<li> <a href="https://twitter.com/NikhilC30581342"> <button class="button"> Twitter </button> </a> </li>
<li> <a href="https://github.com/nikhilch23/"> <button class="button"> Github </button> </a> </li>
<li> <a href="https://www.linkedin.com/in/nikhil-choudhary-a79992148/"> <button class="button"> LinkedIN </button> </a> </li>
<li> <a href="https://medium.com/@nikhilchoudhary_17565"> <button class="button"> Medium </button> </a> </li>
<li> <a href="https://www.quora.com/profile/Nikhil-Choudhary-127"> <button class="button"> Quora </button> </a> </li>
</ul>
</div>
</body>
